*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body{
    background-image: url(./img/space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 50px;
}
.header-div{
    width: 100%;
    color: white;
    /* border: 2px solid #ee4266; */
    background-color: #43bcca;
    /* border-radius: 40px; */
    padding: 10px 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 15px;
}
.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2.5rem;
    border: 5px solid black;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 50px #43bcca;
}
.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 4px solid black;
    overflow-x: auto;
    border-radius: 10px;
    background-color: white;
    /* background: linear-gradient( #43bccd, #f9c80e); */
}
.calculator-keypad{
    display: flex;
    width: 100%;
}
.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.keypad-button {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: #ffd23f;
    border: 2px solid #000000;
    border-radius: 10px;
}
.keypad-button:nth-child(n + 4) {
    background-color: #0ead69;
    
}
.keypad-button:nth-child(n + 8) {
    background-color: #3bceac;
    
}
.keypad-button:nth-child(n + 12) {
    background-color: #ee4266;
    
}
.keypad-button:nth-child(n + 16) {
    background-color: #540d6e;
    
}
.keypad-button:hover{
    /* filter: brightness(75%); */
    transform: scale(1.02);
    transition: transform .25s;
}
.keypad-button.large {
    width: 50%;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding-top: 50px;
}
.footer-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    flex-direction: column;
    /* border: 2px solid #ee4266; */
    background-color: #43bcca;
    /* border-radius: 40px; */
    padding: 10px 10px;
}

@media (max-width: 390px){
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding-top: 50px;
    }
    .header-div{
        width: 100%;
        color: white;
        /* border: 2px solid #ee4266; */
        background-color: #43bcca;
        /* border-radius: 40px; */
        padding: 10px 10px;
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding-top: 20px;
    }
    .footer-div{
        display: flex;
        width: 100%;
        justify-content:space-between;
        color: white;
        /* border: 2px solid #ee4266; */
        background-color: #43bcca;
        /* border-radius: 40px; */
        /* padding: 10px 10px; */
        margin-bottom: 50px;
    }
    body{
        background-image: url(./img/space.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100%;
    }
    .calculator {
        border-radius: 10px;
        box-shadow: 0px 0px 2px 5px #43bcca;
    }
}